//COLORS
//primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan1: hsl(167, 40%, 24%); //graphic design text
$dark-cyan2: hsl(168, 34%, 41%); //footer
$dark-blue: hsl(198, 62%, 26%); //photography text

//neutral
$dark-grayish-blue1: hsl(232, 10%, 55%);
$dark-desaturated-blue: hsl(212, 27%, 19%);
$dark-grayish-blue2: hsl(213, 9%, 39%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//FONTS
$font-primary: "Barlow", sans-serif;
$font-secondary: "Fraunces", serif;
